<%- include("../layouts/header", { title: 'Cadastro de Pessoas' }) %>

  <%- include("../layouts/menu") %>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-four-fifths">
            <h1 class="title is-4">Cadastro de Pessoas</h1>
          </div>
          <div class="column is-one-fifth">
            <div class="buttons is-pulled-right">
              <a href="/pessoas" class="button is-small">Voltar</a>
            </div>
          </div>
        </div>
        <form action="/pessoas/<%= pessoa.id %>?_method=put" method="post">
          <div class="field">
            <div class="control">
              <input class="input" type="text" name="nome" placeholder="Digite o nomQe da pessoa"
                value="<%= pessoa.nome %>" required>
            </div>
            <div class="control">
              <input class="input" type="text" name="rua" placeholder="Digite o nome da rua"
                value="<%= pessoa.endereco.rua %>" required>
            </div>
            <div class="control">
              <input class="input" type="text" name="cidade" placeholder="Digite o nome da cidade"
                value="<%= pessoa.endereco.cidade  %>" required>
            </div>
          </div>

          <!-- Adicione outros campos conforme necessário -->

          <div class="field">
            <div class="control">
              <button type="submit" class="button is-success">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <%- include("../layouts/footer") %>