<%- include("../layouts/header", { title: 'Cadastro de Pessoas' }) %>

  <%- include("../layouts/menu") %>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-four-fifths">
            <h1 class="title is-4">Cadastro de Pessoas</h1>
          </div>
          <div class="column is-one-fifth">
            <div class="buttons is-pulled-right">
              <a href="/pessoas" class="button is-small">Voltar</a>
            </div>
          </div>
        </div>
        <% if (pessoas && pessoas.error) { %>
          <p class="is-danger help">
            <%= pessoas.error %>
          </p>
          <% } %>
            <form action="/pessoas<%= pessoas.pessoa._id ? '/' + pessoas.pessoa._id : '' %>" method="<%= method %>">
              <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                  <input class="input" type="text" name="nome" placeholder="Digite o nome da pessoa"
                    value="<%= pessoas.pessoa ? pessoas.pessoa.nome : '' %>" required>
                </div>
                <div class="control">
                  <input class="input" type="text" name="rua" placeholder="Digite o nome da rua"
                    value="<%= pessoas.pessoa ? pessoas.pessoa.rua : '' %>" required>
                </div>
                <div class="control">
                  <input class="input" type="text" name="cidade" placeholder="Digite o nome da cidade"
                    value="<%= pessoas.pessoa ? pessoas.pessoa.cidade : '' %>" required>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <button type="submit" class="button is-success">Salvar</button>
                </div>
              </div>
            </form>
      </div>
    </section>

    <%- include("../layouts/footer") %>